{% extends 'base.html' %}

{% block title %}
Quizzer|Login
{% endblock %}

{% block content %}
{% load staticfiles %}
<style>
    .fplink
    {
        margin: 10px;
        text-align: right;
    }
</style>
{% if error %}
<br>
<p class='text-center'>{{error}}</p>
<br>
{% endif %}

<div class="container card" style="width: 38rem; padding:28px; margin:45px auto;">
    <form class="form-signin" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="text-center">
            <img src="{% static 'letter-q.png' %}" width="60" class="d-inline-block align-top">
            <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
        </div> 
            <label for="username">Username :</label>
            <input type="text" id="username" class="form-control -p3" placeholder="Enter Alias" required autofocus name="username"><br>
            <label for="inputPassword">Password :</label>
            <input type="password" id="inputPassword" class="form-control -p3" placeholder="Password" required name="password"><br>
            <a  class='fplink' href="{% url 'password_reset_recover' %}">Forgot Password?</a>
            <br>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        </form>
    </div>
{% endblock %}