{% extends 'base.html' %}

{% block title %}
Quizzer|Create Quiz
{% endblock %}

{% block content %}
<div class="container p-3">
    <h2 class='text-center'>Create Quiz</h2>
    <hr>
    <br>
    {%if error %}

        <div class="alert alert-success alert-dismissable">
    <strong>
        {{ error }}
</strong>
          <button type="button" class="close" data-dismiss="alert" >&times;</button>
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data" action="{% url 'create_quiz'%}">
        {% csrf_token %}
        {{ quiz_form.as_p }}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

{% endblock %}
