{% extends 'base.html' %}
{%load staticfiles %}
{% block title %}
Quizzer|Create Quiz
{% endblock %}


{% block content %}
<div class="container-fluid">
    <h2 class='text-center'>Create Quiz</h2>
    <hr>
    <br>
    {%if error %}

        <div class="alert alert-success alert-dismissable">
    <strong>
        {{ error }}
</strong>
          <button type="button" class="close" data-dismiss="alert" >&times;</button>
        </div>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <h1>Instructions</h1>
                <br>
                <ul class="list">
                <div class="col-11">
                    <li class="item">Only Upload CSV files.</li>
                </div>
                <div class="col-11">
                    <li class="item">The CSV files should be in the format specified below:
                        <br>
                        Question,Option 1,Option 2,Option 3,Option 4,Correct Answer
                    </li>
                </div>
                <div class="col-11">
                    <li class="item">This Image specifies a sample csv file:
                        <br><br>
                        <img src="{% static 'sample.png'%}" alt="Sample Image" class="img-fluid">
                    </li>
                </div>
                <div class="col-11">
                    <li class="item">The First line of each file should be the column-headings. As shown in the sample.
                    </li>
                </div>
            </ul>
            </div>
            <div class="col-7">
                <form method="post" enctype="multipart/form-data" action="{% url 'create_quiz'%}">
                    {% csrf_token %}
                    {{ quiz_form.as_p }}
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br>
<style>
    .list{
        list-style-type: square;
    }
    .item{
        margin: 15px 0;
        padding: 5px;
    }
</style>
{% endblock %}