<!doctype html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="QuizOholic - A quizing Platform">
    <meta name="author" content="Binary Compatible">
    <link rel="icon" type="image/x-icon" href="{%static 'title.ico'%}">
     <title>
        Edit | {{quiz_object.name}}
    </title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
  <body>
     <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'letter-q.png' %}" class="main-icon">
                 <span class="head">QuizOholic</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">

                {% if user.is_authenticated %}
                <!-- Executed when user is logged in. On click The Js code submits the form -->
                <a href="{% url 'profile' %}"><img class = 'nav-img' src='{{user.profile.image_url}}' width=40 height=40></a>
                <li class="nav-item dropdown">
                <a class="nav-link nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                    {{user.first_name}} {{user.last_name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item nav-link nav-item" href="{% url 'profile' %}">Profile</a>

                    <a class="dropdown-item nav-link nav-item" href="{% url 'dashboard' %}">Dashboard</a>
                     <a class="dropdown-item nav-link nav-item" href="{% url 'admin-panel' %}">Admin Panel</a>

                    <a class="dropdown-item nav-link nav-item" href="{% url 'edit_profile' %}">Edit Profile</a>
                    <a class="dropdown-item nav-link nav-item" href="javascript:{document.getElementById('logout').submit()}">Log Out</a>
                </div>
                <form id='logout' method="POST" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <input type="hidden">
                </form>
                </li>
                {% else %}
                <!--If user is not logged in -->
                <a class="nav-item nav-link" data-toggle="modal" href="" data-target="#myModal">Log In</a>
                <a class="nav-item nav-link" href="{% url 'signup' %}">Sign Up</a>
                  <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <form class="form-signin" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="text-center">
            <img src="{% static 'letter-q.png' %}" width="60" class="d-inline-block align-top">
            <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
        </div>
            <label for="username">Username :</label>
            <input type="text" id="username" class="form-control -p3" placeholder="Enter Alias" required autofocus name="username"><br>
            <label for="inputPassword">Password :</label>
            <input type="password" id="inputPassword" class="form-control -p3" placeholder="Password" required name="password"><br>
            <a  class='fplink' href="{% url 'password_reset_recover' %}">Forgot Password?</a>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
                {% endif %}
              </div>
            </div>

          </nav>
    </div>
    </header>

     {% if user.is_authenticated %}
    <div class="container p-2">
        <h1 class='col-6'>{{quiz_object.name}}</h1>
        <p class='col-10'><b>About -</b> {{quiz_object.about}}</p>
        <p class= 'col-9'><b>Quizmaster - </b> {{quiz_object.quizmaster}}</p>
        <hr>
        <ol>
        {% for obj in quiz_data%}
        <br>

        <ul class="list-group">
            <li class="list-group-item">{{obj.question}}</li>
            <form method="POST" enctype="multipart/form-data" action="{% url 'testedit' quizid=quiz_object.Quiz_id %}" name="{{obj.id}}">
                {% csrf_token %}
            <input type="hidden"  value="{{obj.id}}" name="question_{{obj.id}}">
            <li class="list-group-item">
            <p>
                <label for="img">Image URL :</label>
                <input class="form-control" type="url" value="{{obj.image}}" name='img_{{obj.id}}' placeholder="Enter the Url If you want an image for this question"> </p>
            <p>
                <label for="code">Code If any :</label>
                   <textarea class="form-control -p3" placeholder="Enter Your code here if the need arises!" value="{{obj.code}}" name="code_{{obj.id}}"> </textarea>
                <br>
            </p>
            </li>
            <li class="list-group-item">
                <button type="submit" class="btn btn-primary">Submit</button>
            </li>
            </form>
        </ul>
        <br>
        {% endfor %}
        </ol>
    </div>
    <br>
    <br><br>
 <div class="container text-center">
    <form action="{% url 'dashboard' %}" method="POST">
        {% csrf_token %}
    <button class="btn btn-primary btn-lg" type="submit">Finish Editing</button>
    </form>
</div>
{% endif %}
     <footer class="text-muted">
    <br><br>
        <div class="container text-center">
          <p>&copy; Binary Compatible {% now "Y" %}</p>
          <br>
        </div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
        $(function() {
             // This function gets cookie with a given name
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            /*
            The functions below will create a header with csrftoken
            */

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            function sameOrigin(url) {
                // test that a given url is a same-origin URL
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                        // Send the token to same-origin, relative URLs only.
                        // Send the token only if the method warrants CSRF protection
                        // Using the CSRFToken value acquired earlier
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

        });
        {% for obj in quiz_data%}
        $('form[name ="{{obj.id}}"]').on('submit', function(event){
            event.preventDefault();
            console.log("form submitted!")
            var quid = $('input[name="question_{{obj.id}}"]').val();
            var res = $('input[name="img_{{obj.id}}"]').val();
            var cde = $('textarea[name="code_{{obj.id}}"]').val();
            submit(quid, res, cde);
        });
        {% endfor %}

        function submit(quid, res, cde) {
            console.log("create post is working!") // sanity check
            console.log(quid);
            console.log(cde);
            $.ajax({
                url : "{% url 'testedit' quizid=quiz_object.Quiz_id %}", // the endpoint
                type : "POST", // http method
                data : {question_id: quid, img: res, code: cde}, // data sent with the post request

                // handle a successful response
                success : function(json) {
                    console.log(quid);
                    console.log(cde);
                    console.log("success is yours Mylord");
                },

                error : function(xhr,errmsg,err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>");
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        };
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 </body>
 </html>
