{% extends "base.html" %}
 {% block title %}
Leaderboard | {{quiz_object.Quiz_id}}
{% endblock %}
{% block content %}
<style>
    .box{
        box-shadow: -2px -4px 15px 3px black;
        border-radius: 15px 0 15px 0;
    }
    .box:hover{
        box-shadow: -5px -8px 25px 3px black;
        border-radius: 0 25px 0 25px;
    }
</style>
{% if user.is_authenticated %}
<br><br>
<div class="col-8 justify-content-end">
        <a href="{% url 'export' quizid=quiz_object.Quiz_id %}" class="btn btn-danger" role="button">Expot CSV</a> 
</div>
<br>
<div class="container box">
<div class="row" style="padding:15px;">
    <div class="row col-12 p-3 text-center">
        <h2 class="display-4 text-center">Leaderboard</h2>
        <br>
    </div>
    <div class="row col-12 p-3 justify-content-between">
        <h4><b>Quiz-name - </b>{{quiz_object.name}}</h4>
        <h5><b>Quiz-master - </b>{{quiz_object.quizmaster}}</h4>
    </div>
    <div class="row col-12 text-center">
        <h6>Detailed Analysis of all the participants: </h5>
    </div>
    <div class="row col-12">
    <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col-6">Participant </th>
                <th scope="col-2">Maximum Marks</th>
                <th scope="col-2">Marks Obatined</th>
                <th scope="col-2">Percentage</th>
                </tr>
            </thead>
            <tbody>
            {% for score in scores %}
                <tr>
                    <th scope="row">
                    <a href = "{% url 'pub_profile' username=score.applicant.username %}">
                    {{score.applicant.first_name}} {{score.applicant.last_name}}</th>
                    </a>
                    <td>{{score.total}}</td>
                    <td>{{score.obtained}}</td>
                    <td>{{score.percentage}}</td>
                </tr>
            
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endif %}
<br><br>
{% endblock %}