<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta https-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <!--<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">-->
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <title>Document</title>
    </head>
    <body id="quiz-bg">
        <div class="container-fluid" >
            <!--Row 2-->
                <div class="row justify-content-left" style="padding-left: 2px">
                    <!--Column 1-->
                    <div class="col-md-3" style="height: 40em;width: auto" id="questions">
                            <div class="row align-items-center" style=" padding-left: 5px; color: white;background-color: #b2bec3;height: 5em;">
                                    <p> Q1. What is EPROM ?</p>
                        </div>
                            <div class="row align-items-center" style="color: white;font-family: 'Merriweather', serif;background-color: #d2dae2;height: 5em;">
                                    <p> Q2. What is p-n junction diode ?</p>
                        </div>
                            <div class="row align-items-center" style="height: 5em;padding-left: 5px; color: white;font-family: 'Merriweather', serif;background-color: #b2bec3">
                                    <p> Q3. What is n-p-n transistor and what are its characteristics</p>
                        </div>
                        <div class="row align-items-center" style="color: white;font-family: 'Merriweather', serif;background-color: #d2dae2;height: 5em;">
                                    <p> Q2. What is p-n junction diode ?</p>
                        </div>
                            <div class="row align-items-center" style="height: 5em;padding-left: 5px; color: white;font-family: 'Merriweather', serif;background-color: #b2bec3">
                                    <p> Q3. What is n-p-n transistor and what are its characteristics</p>
                        </div>
                        <div class="row align-items-center" style="color: white;font-family: 'Merriweather', serif;background-color: #d2dae2;height: 5em;">
                                    <p> Q2. What is p-n junction diode ?</p>
                        </div>
                            <div class="row align-items-center" style="height: 5em;padding-left: 5px; color: white;font-family: 'Merriweather', serif;background-color: #b2bec3">
                                    <p> Q3. What is n-p-n transistor and what are its characteristics</p>
                        </div>
                        <div class="row align-items-center" style="color: white;font-family: 'Merriweather', serif;background-color: #d2dae2;height: 5em;">
                                    <p> Q2. What is p-n junction diode ?</p>
                        </div>
                            <div class="row align-items-center" style="height: 5em;padding-left: 5px; color: white;font-family: 'Merriweather', serif;background-color: #b2bec3">
                                    <p> Q3. What is n-p-n transistor and what are its characteristics</p>
                        </div>
                        <div class="row align-items-center" style="color: white;font-family: 'Merriweather', serif;background-color: #d2dae2;height: 5em;">
                                    <p> Q2. What is p-n junction diode ?</p>
                        </div>
                            <div class="row align-items-center" style="height: 5em;padding-left: 5px; color: white;font-family: 'Merriweather', serif;background-color: #b2bec3">
                                    <p> Q3. What is n-p-n transistor and what are its characteristics</p>
                        </div>
                        <div class="row align-items-center" style="color: white;font-family: 'Merriweather', serif;background-color: #d2dae2;height: 5em;">
                                    <p> Q2. What is p-n junction diode ?</p>
                        </div>
                            <div class="row align-items-center" style="height: 5em;padding-left: 5px; color: white;font-family: 'Merriweather', serif;background-color: #b2bec3">
                                    <p> Q3. What is n-p-n transistor and what are its characteristics</p>
                        </div>
                    </div>
                    <!--Column 2-->
                        <div class="col-md-6" style="height:10em;">
                         <!--   <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
</div>-->
                            <div class="row w-100 p-3 rounded " style="font-family: 'Playfair Display', serif;background-color: #eee;height: 10em;margin: 5px 2px auto;">
                                <p style="font-size: 25px"> Where is Taj Mahal located ? </p>
                            </div>
                            <div class="row container-fluid align-items-center w-100 p-3 rounded" id="option-a" style="height: 5em;margin: 30px 2px auto;">
                                <label>
                                    <p><input type="radio" name="options" class="align-self-center"> Option A</p>
                                </label>
                            </div>
                            <div class="row container-fluid align-items-center rounded" id="option-b" style="height: 5em;margin: 15px 2px auto;">
                                <label>
                                    <p><input type="radio" name="options"> Option B</p>
                                </label>
                            </div>
                            <div class="w-100 p-3 row container-fluid align-items-center rounded" id="option-c" style="height: 5em;margin: 15px 2px auto;">
                                <label>
                                    <p><input type="radio" name="options"> Option C</p>
                                </label>
                            </div>
                            <div class="row container-fluid align-items-center rounded" id="option-d" style="background-color: antiquewhite;height: 5em;margin: 15px 2px auto;">
                                <label>
                                    <p><input type="radio" name="options"> Option D</p>
                                </label>
                            </div>
                            <div class="row container-fluid justify-content-center" style=";height: 5em;margin: 20px 2px auto;">
                                <div class="col-md-4" style="text-align: left">
                                    <a class="btn btn-success btn-lg" href="#">Previous</a>
                                </div>
                                <div class=" col-md-4" style="text-align: right">
                                    <a class="btn btn-info btn-lg" href="#">Submit Answer</a>
                                </div>
                                <div class="col-md-4" style="text-align: right">
                                    <a class="btn btn-success btn-lg" href="#">Next</a>
                                </div>
                            </div>
                    </div>
                    <!--Column 3-->
                    <div class="col-md-3" style="height:30em;" id="questions-button">
                        <!--Column 1 Row 1-->
                        <div class="row" style="padding-top: 20px; padding-left: 10px;">
                            <div class="col-md-10 w-100 p-3 rounded" style=" color: white;font-family: 'Merriweather', serif;background-color: #b2bec3;text-align: left; margin-bottom: 20px; font-size: 15px">
                                Questions :
                            </div>
                        </div>
                        <!--Column 3 Row 2-->
                        <div class="row" style="padding-top: 10px; padding-left: 10px;">
                            <div class="col-md-3 w-100 p-3 rounded" style=" color: white;font-family: 'Merriweather', serif; text-align: left; margin-bottom: 5px; font-size: 15px">
                                <a href="#" class="btn btn-outline-success btn-lg">1</a>
                            </div>
                            <div class="push-md-1 col-md-3 w-100 p-3 rounded" style=" color: white;font-family: 'Merriweather', serif; text-align: left; margin-bottom: 5px; font-size: 15px">
                                <a href="#" class="btn btn-outline-success btn-lg">2</a>
                            </div>
                            <div class=" push-md-2 col-md-3 w-100 p-3 rounded" style=" color: white;font-family: 'Merriweather', serif; text-align: left; margin-bottom: 5px; font-size: 15px">
                                <a href="#" class="btn btn-outline-success btn-lg">3</a>
                            </div>
                        </div>
                        <!--Column 3 Row 3-->
                        <div class="row" style="padding-top: 10px; padding-left: 10px;">
                            <div class="col-md-3 w-100 p-3 rounded" style=" color: white;font-family: 'Merriweather', serif; text-align: left; margin-bottom: 5px; font-size: 15px">
                                <a href="#" class="btn btn-outline-success btn-lg">4</a>
                            </div>
                            <div class="push-md-1 col-md-3 w-100 p-3 rounded" style=" color: white;font-family: 'Merriweather', serif; text-align: left; margin-bottom: 5px; font-size: 15px">
                                <a href="#" class="btn btn-outline-success btn-lg">5</a>
                            </div>
                            <div class=" push-md-2 col-md-3 w-100 p-3 rounded" style=" color: white;font-family: 'Merriweather', serif; text-align: left; margin-bottom: 5px; font-size: 15px">
                                <a href="#" class="btn btn-outline-success btn-lg">6</a>
                            </div>
                        </div>
                        <!--Column 3 Row 4-->
                        <!--Column 1 Row 5-->
                        <div class="row" style="padding-top: 30px; padding-left: 20px; border-bottom:2px solid grey ;">
                            <div class="col-md-12 flex-first" style=" margin-bottom: 10px ; ">
                                <div class="row justify-content-center" style="margin-top: 10px"><button type="submit" href="#" class="btn btn btn-lg" style="color: aqua; background-color: #2d3436">Submit</button></div>
                            </div>
                        </div>
                        <a class="lead" style="font-size: 14px"href="#">email</a>
                        </div>
                    </div>
            <div  class="rounded" style="color: white;font-family: 'Merriweather', serif;background-color: #b2bec3;" id="timer">Time Left</div>
            </div>
            
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/css/tether-theme-arrows-dark.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</html>