{% load staticfiles %}
 {% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{%static 'title.ico'%}">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta https-equiv="X-UA-Compatible" content="ie=edge">
        <!--<link rel="stylesheet" href="css/bootstrap.css">-->
        <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <title>QuizOholic</title>
        	<script type="text/javascript" src={% static 'javascript-timer.js'  %}></script>

        <!-- Timer
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js" />
        <style>
#defaultCountdown { width: 240px; height: 45px; }
</style>
             <script type="text/javascript" src="{% static 'timer/js/jquery.plugin.js'%}" ></script>
        <script type="text/javascript" src ="{% static 'timer/js/jquery.countdown.js' %}"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
$(function () {

	$('#defaultCountdown').countdown({until: {{quiz_object.duration}});

});
</script> -->



        <link rel="stylesheet" type="text/css" href="{% static 'timer/css/jquery.countdown.css' %}" >

    </head>
    <body>
        <div class="container-fluid" style="background-color:#40739e;max-width: 100%;height: 50px">
            <div class="row justify-content-around" >
                <div class="col-md-7" style="text-align: left;padding-top: 3px;font-size:2rem;font-family: 'Patua One', cursive;color: #f5f6fa"> QuizOholic</div>
                <div class="col-md-5"  style="padding-top: 3px;padding-left: 350px; font-size:2rem;color: #f5f6fa;font-family: 'Patua One', cursive;">Time : <span id='timer'>{{ quiz_object.duration }}</span></div>
{#              <div class="col-md-4" id="demo" style="float: right">Time</div>#}
            </div>
        </div>

        <div class="container-fluid" style="background-color: #f1f2f6">
            <div class="row" style="padding-top: 12px padding-left:7px">
                <div class="col-md-4 " style="font-family: 'Noto Sans JP';padding-top: 10px;"><h4>{{quiz_object.name}}</h4></div>
                <div class="col-md-8 float-right">
               <form name="quiz" action="{% url 'calculate_score' quizid=quiz_object.Quiz_id %}" method="POST">
            {% csrf_token %}  <button type="submit" class="btn btn-outline-primary btn-lg float-right mt-1" >End Test</button>
               </form> </div>
            </div>
            <div class="row justify-content-center" style="padding-left: 0px;margin-top: 10px;">
                <div class="col-md-2" style="height: 32em;width: auto;overflow-y: auto" id="questions">

                            {% for obj in quiz_data%}

                            <div class="row align-items-center" style=" padding-left: 5px; color: #2f3640;background-color: white;height: 5em;font-family: 'Crete+Round', serif;font-size: 20px">
                                    <a href="#" onclick="myFunction()"> {{obj.id}}.){{ obj.question|truncatechars:40 }}</a>
                        </div>
                                <hr/>

                    {% endfor %}
{#                            <div class="row align-items-center" style="color: #2f3640;font-family: 'Crete+Round', serif;font-size: 20px;background-color: #f8f9fa;height: 5em;">#}
{#                                    <a href="#"> Q2. What is p-n junction diode ?</a>#}
{#                        </div>#}
                    </div>
                <div class="col-md-10" style="border-style: solid;border-color: #7f8fa6;border-width: 1px;background-color: white">
                    <div class="row" style="max-width: 100%;height: 10em;background-color: white;">
                        <div id="mytimer"></div>




                        <script type="text/javascript">
        var fetch_time=document.getElementById('timer').innerHTML;
        var pieces=fetch_time.split(":");
        var total_seconds = 3600*parseInt(pieces[0])  + 60*parseInt(pieces[1]) + parseInt(pieces[2]);
        var hours=parseInt(total_seconds/3600);
        var minutes=parseInt(total_seconds/60);
        var seconds=parseInt(total_seconds%60);

         hours = hours < 10 ? "0" + hours : hours;

        minutes = minutes < 10 ? "0" + minutes : minutes;
       seconds = seconds < 10 ? "0" + seconds : seconds;

        function checkTime(){
        document.getElementById('timer').innerHTML=hours +':'+ minutes +': ' +seconds;
        if(total_seconds<=0)
        {
         setTimeout('document.quiz.submit()',1);

        }
        else
        {
             total_seconds=total_seconds-1;

             hours=parseInt(total_seconds/3600);
             minutes=parseInt(total_seconds/60);
             seconds=parseInt(total_seconds%60);
            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

             setTimeout("checkTime()",1000);
        }}
        setTimeout("checkTime()",1000);





	</script>
                    </div>
                </div>
            </div>



</script>


{#        <script>#}
{#function myFunction() {#}
{# $("#show").html('<button type='submit'>{{ quiz_object.name }}</button>');#}
{#}#}
{#</script>#}
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/css/tether-theme-arrows-dark.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</html>
{% endif %}