{% load staticfiles %}
 {% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{%static 'title.ico'%}">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta https-equiv="X-UA-Compatible" content="ie=edge">
        <!--<link rel="stylesheet" href="css/bootstrap.css">-->
        <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Audiowide|Cabin+Sketch|Concert+One|Fredericka+the+Great|Josefin+Slab|Monoton|Tangerine" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <title>QuizOholic</title>

 <style>
     .showAll{
         display:block;
     }
     .btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin:
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 6px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}
 </style>



    </head>
    <body>
        <div class="container-fluid " style="background-color:#5042f4;max-width: 100%;height: 50px">
            <div class="row justify-content-around" >
                <div class="col-md-6" style="text-align: left;padding-top: 3px;font-size:2rem;font-family: 'Monoton', cursive;color: #f5f6fa"> QuizOholic</div>
                <!--for cookies-->
                <div class="col-md-1" style="text-align: left;padding-top: 3px;font-size:2rem;font-family: ''Josefin Slab', serif', cursive;color: #f5f6fa ;display: none" id="forcookie">{{ quiz_object.Quiz_id }}</div>
                <div class="col-md-1" style="text-align: left;padding-top: 3px;font-size:2rem;font-family: ''Josefin Slab', serif', cursive;color: #f5f6fa ;display: none" id="forcookie_user">{{ user }}</div>
                <!--End cookies-->
                <div class="col-md-5"  style="padding-top: 3px;padding-left: 350px; font-size:2rem;color: #f5f6fa;font-family: 'Cabin sketch', cursive; ">Time : <span id='timer' style="padding:2px;border-style: solid;border-color: whitesmoke; border-radius:12px;">{{ quiz_object.duration }}</span></div>
{#              <div class="col-md-4" id="demo" style="float: right">Time</div>#}
            </div>
        </div>

        <div class="container-fluid" style="background-color: #f1f2f6">
            <div class="row" style="padding-top: 12px padding-left:7px">
                <div class="col-md-4 " style="font-family: 'Fredericka the Great', cursive;padding-top: 15px;"><h4><u>{{quiz_object.name}}</u></h4></div>
                <div class="col-md-8 float-right">
               <form name="quiz" action="{% url 'calculate_score' quizid=quiz_object.Quiz_id %}" method="POST">
            {% csrf_token %}  <button type="submit" class="btn-hover color-10 float-right" >End Test</button>
               </form> </div>
            </div>
            <div class="row justify-content-center" style="padding-left: 0px;margin-top: 10px;">
                <div class="col-md-2 card border-right-0 " style="border-style:double ;border-color: #7f8fa6;border-radius:10px; height: 32em;width: auto;overflow-y: auto" id="questions">

                            {% for obj in quiz_data%}

                 <a href="#" class="link"  onclick="quesFetch({{ obj.id }})">{{obj.question}}</a>
                                <br>
                                <br>


    <ul class="list-group" style="display: none;" id="{{ obj.id }}">
 <li href="#" class="link" id="">{{obj.question}}</li>

        <form method="POST" action="{% url 'test' quizid=quiz_object.Quiz_id %}">
            {% csrf_token %}

        <input type="hidden" value="{{obj.id}}" name="question_id">
        <li class="list-group-item">
            <input class="col-1" type="radio" value="{{obj.a}}" id="optionA" name="response">
            <span class='col-11'>{{obj.a}}</span>
        </li>
        <li class="list-group-item">
            <input class="col-1" type="radio" value="{{obj.b}}" id="optionB" name="response">
            <span class='col-11'>{{obj.b}}</span>
        </li>
        <li class="list-group-item">
            <input class="col-1" type="radio" value="{{obj.c}}" id="optionC" name="response">
            <span class='col-11'>{{obj.c}}</span>
        </li>
        <li class="list-group-item">
            <input class="col-1" type="radio" value="{{obj.d}}" id="optionD" name="response">
            <span class='col-11'>{{obj.d}}</span>
        </li>
        <li class="list-group-item">
            <button type="submit" class="btn btn-primary">Submit</button>
        </li>
        </form>
    </ul>



                    {% endfor %}
                </div>
                
                <div class="col-md-10" style="border-style: double;border-color: #7f8fa6;border-width: 3px;background-color: white;border-radius: 10px;">
                    <div class="container center-block" id="content" style="max-width: 100%;height: 10em;background-color: white;">



                        </div>
<!--Question fetch-->

                        <script>
function quesFetch(id) {
    var y=document.getElementById('content');
   var x = document.getElementById(id);
   var cln=x.cloneNode(true);
   y.innerHTML="";
               if (cln.style.display === "none")
        cln.style.display = "block";
                else
        cln.style.display = "none";


    console.log(x);

   y.appendChild(cln);
        console.log(y);


}

</script>
<!-- Question fetch ends -->
<!--Timer-->

       <script type="text/javascript">
        var forcookie=document.getElementById('forcookie').innerHTML+document.getElementById('forcookie_user').innerHTML;
        if(getCookie(forcookie)){
            var total_seconds=getCookie(forcookie);

        }
        else {
            var fetch_time = document.getElementById('timer').innerHTML;
            var pieces = fetch_time.split(":");
            var total_seconds = 3600 * parseInt(pieces[0]) + 60 * parseInt(pieces[1]) + parseInt(pieces[2]);

        }


        var hours=parseInt(total_seconds/3600);
        var minutes=parseInt((total_seconds%3600)/60);
        var seconds=parseInt(total_seconds%60);

         hours = hours < 10 ? "0" + hours : hours;

        minutes = minutes < 10 ? "0" + minutes : minutes;
       seconds = seconds < 10 ? "0" + seconds : seconds;

        function checkTime(){
        document.getElementById('timer').innerHTML=hours +':'+ minutes +':' +seconds;
        if(total_seconds<=0)
        {
         setTimeout('document.quiz.submit()',1);
        }
        else
        {
             total_seconds=total_seconds-1;

             hours=parseInt(total_seconds/3600);
             minutes=parseInt((total_seconds%3600)/60);
             seconds=parseInt(total_seconds%60);
            hours = hours < 10 ? "0" + hours : hours;
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

             setTimeout("checkTime()",1000);
        }
        setCookie(forcookie,total_seconds,1);}
        setTimeout("checkTime()",1000);

function setCookie(cname,cvalue,exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires=" + d.toGMTString();
    document.cookie = cname+"="+cvalue+"; "+expires;
}
 function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}




	</script>
    <!--Timer Ends-->
 <!--Ajax-->

 <!-- Ajax ends -->
                    </div>
                </div>
            </div>



</script>


{#        <script>#}
{#function myFunction() {#}
{# $("#show").html('<button type='submit'>{{ quiz_object.name }}</button>');#}
{#}#}
{#</script>#}



    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/css/tether-theme-arrows-dark.css"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</html>
{% endif %}